﻿/*Horizontal Orientation CSS*/
.jscarousal-horizontal
{
	width: 852px;
	height: 93px;
	background-color: #D9DADC;
	border: solid 1px #D9DADC;
	margin: 0 0 0 12px;
	padding: 0;
	padding: 14px 16px 10px 25px;
	position: relative; /*overflow: hidden;*/
}
.jscarousal-horizontal-back, .jscarousal-horizontal-forward
{
	float: left;
	width: 40px;
	height: 37px;
	background-color: #121212;
	color: White;
	position: absolute;
	top: 1px;
	cursor: pointer;
}
.jscarousal-horizontal-back
{
	background-image: url(left_arrow.jpg);
	background-repeat: no-repeat;
	background-position: absolute;top:35px;left: -20px;
}
.jscarousal-horizontal-forward
{
	background-image: url(right_arrow.jpg);
	background-repeat: no-repeat;
	background-position: absolute;top:35px;right:-20px;
}
.jscarousal-contents-horizontal
{
	width: 820px;
	height: 97px;
	float: left;
	position: relative;
	overflow: hidden;
        padding:0 0 0 15px;
}
.jscarousal-contents-horizontal > div
{
	position: absolute;
	width:834px;
	height: 124px;
        padding:0 0 0 20px;        
}
.jscarousal-contents-horizontal > div > div
{
	float: left;
	margin-left: 5px;
	margin-right: 6px;
}
.jscarousal-contents-horizontal img
{
    width: 82px;
    height: 100px;
    padding:2px;
    margin-right:5px; /* this specifies the distance between each thumbnail */
    background-color:White;
    border:1px solid #ddd;
    text-align:center;
    position:relative;

}
/*Horizontal Orientation CSS Ends*/

/*Vertical Orientation CSS Starts*/
.jscarousal-vertical
{
	width: 140px;
	height: 460px;
	background-color: #121212;
	border: solid 1px #7A7677;
	margin: 0;
	padding: 0;
	position: relative;
	overflow: hidden;
}
.jscarousal-vertical-back, .jscarousal-vertical-forward
{
	width: 100%;
	height: 30px;
	background-color: #121212;
	color: White;
	position: relative;
	cursor: pointer;
	z-index:100;
}
.jscarousal-vertical-back
{
	background-image: url(top_arrow.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
}
.jscarousal-vertical-forward
{
	background-image: url(bottom_arrow.jpg);
	background-repeat: no-repeat;
	background-position: top;
}
.jscarousal-contents-vertical
{
	overflow: hidden;
	width: 140px;
	height: 410px;
}
.jscarousal-contents-vertical > div
{
	position: absolute;
	top: 40px;
	width: 100%;
	height: 820px;
	overflow: hidden;
}
.jscarousal-contents-vertical > div > div
{
	width: 140px;
	height: 125px;
	margin: 8px;
	margin-left: 14px;
}
.jscarousal-contents-vertical > div > div span
{
	display: block;
	width: 70%;
	text-align: center;
}
.jscarousal-contents-vertical img
{
	width: 110px;
	height: 80px;
	border: solid 1px #7A7677;
}
/*Vertical Orientation CSS Ends*/

/*Common*/
.hidden
{
	display: none;
}
.visible
{
	display: block;
}
.thumbnail-active
{
	filter: alpha(opacity=100);
	opacity: 1.0;
	cursor: pointer;
}
.thumbnail-inactive
{
	filter: alpha(opacity=20);
	opacity: 0.2;
	cursor: pointer;
}
.thumbnail-text
{
	color: #7A7677;
	font-weight: bold;
	text-align: left;
	display: block;
	padding: 10px 2px 2px 0px;
}
