.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
@media (min-width: 768px) {
    .container-small {
        width: 300px;
    }
    .container-large {
        width: 970px;
    }
}
@media (min-width: 992px) {
    .container-small {
        width: 500px;
    }
    .container-large {
        width: 1170px;
    }
}
@media (min-width: 1200px) {
    .container-small {
        width: 700px;
    }
    .container-large {
        width: 1500px;
    }
}
.ui-datepicker{z-index:1151 !important;}

.divider-vertical{
    border-right:2px #dddddd solid;
}

.container-small, .container-large {
    max-width: 100%;
}

.modal.modal-wide .modal-dialog {
  width: 80%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}

.input-group {
    display: inline-table;
    vertical-align: middle;
}

.input-group > .input-group-addon,
.input-group-btn,
.form-control {
    width: auto !important;
}