{% extends 'base.html' %}
{% block content %}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Articulos</h3>
    </div>
    <div class="panel-body">
        <div class=" col-md-12">
            <div class="moneda no-gutter">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-2">
                                Categoria
                            </div>
                            <div class="col-md-1">
                                Marca
                            </div>
                            <div class="col-md-1">
                                Modelo
                            </div>
                            <div class="col-md-1">
                                Peso
                            </div>
                            <div class="col-md-1">
                                Peso Vol
                            </div>
                            <div class="col-md-1">
                                Costo
                            </div>
                            <div class="col-md-1">
                                Costo Real
                            </div>
                            <div class="col-md-1">
                                Precio
                            </div>
                            <div class="col-md-1">
                                Ganancia
                            </div>
                            <div class="col-md-1">
                                Cantidad
                            </div>
                            <div class="col-md-1">
                                Eliminar
                            </div>
                        </div>
                    </li>
                    {% for m in articulos %}
                        <li class="list-group-item">
                            <div class="row">
                                <a href="#" class="editObj" objId="{{ m.id }}" Type="Articulo">
                                    <div class="col-md-2">
                                        {{ m.categoria}}
                                    </div>
                                    <div class="col-md-1">
                                        {{ m.marca}}
                                    </div>
                                    <div class="col-md-1">
                                        {{ m.modelo}}
                                    </div>
                                    <div class="col-md-1">
                                        {{ m.peso}} Lbs
                                    </div>
                                    <div class="col-md-1">
                                        {{ m.pesoVolumetrico}}
                                    </div>
                                    <div class="col-md-1">
                                        {{ m.costo}}$
                                    </div>
                                    <div class="col-md-1">
                                        {{ m.costoTotal}}BsF.
                                    </div>
                                    <div class="col-md-1">
                                        {{ m.precio}}BsF.
                                    </div>
                                    <div class="col-md-1">
                                        {{ m.ganancia}}%
                                    </div>
                                    <div class="col-md-1">
                                        {{ m.cantidad}}
                                    </div>
                                    <div class="col-md-1">
                                        <a href="/eliminar/Articulo/{{ m.id }}" class="btn-danger btn-sm"
                                        onclick="return confirm('¿Esta Seguro de eliminar este elemento?')" >X</a>
                                    </div>
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}