{% extends 'base.html' %}
{% block content %}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Clientes</h3>
    </div>
    <div class="panel-body">
        <div class=" col-md-12">
            <div class="moneda no-gutter">
                <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-1">
                                    Nombre
                                </div>
                                <div class="col-md-1">
                                    Apellido
                                </div>
                                <div class="col-md-1">
                                    Cedula
                                </div>
                                <div class="col-md-3">
                                    Direccion
                                </div>
                                <div class="col-md-1">
                                    Telefono
                                </div>
                                <div class="col-md-3">
                                    Correo
                                </div>
                                <div class="col-md-1">
                                    ML
                                </div>
                                <div class="col-md-1">
                                    Eliminar
                                </div>
                            </div>
                        </li>
                    {% for m in clientes %}
                        <li class="list-group-item">
                            <div class="row">
                                <a href="#" class="editObj" objId="{{ m.id }}" Type="Cliente">
                                    <div class="col-md-1">
                                        {{ m.Nombre}}
                                    </div>
                                    <div class="col-md-1">
                                        {{ m.Apellido}}
                                    </div>
                                    <div class="col-md-1">
                                        {{ m.Cedula}}
                                    </div>
                                    <div class="col-md-3">
                                        {{ m.Direccion}}
                                    </div>
                                    <div class="col-md-1">
                                        {{ m.Telefono}}
                                    </div>
                                    <div class="col-md-3">
                                        {{ m.Correo}}
                                    </div>
                                    <div class="col-md-1">
                                        {{ m.Pseudonimo_MercadoLibre}}
                                    </div>
                                    <div class="col-md-1">
                                        <a href="/eliminar/Cliente/{{ m.id }}" class="btn-danger btn-sm"
                                        onclick="return confirm('¿Esta Seguro de eliminar este elemento?')" >X</a>
                                    </div>
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}