{% extends 'base.html' %}
{% block js %}
    top.location.href="#capa3";
    $("#nuevaCaracteristica").on('click',function(){
        $("#modalCaracteristica").modal({show:true})
    });

    $("#nuevaImgart").on('click',function(){
        $("#modalImgart").modal({show:true})
    });

    $(".editObj").on('click',function(e){
        e.preventDefault();
        var objId = this.getAttribute('objId');
        jQuery.ajax({
            url: '/admin/get_form/caracteristica/' + objId,
            type: "GET",
            dataType: 'html',
            success: function(data){
                $("#editFormHtml").html(data);
                var action = $("#editForm").attr('action') + objId
                $("#editForm").attr('action',action)
                $("#modalEditObj").modal({show:true});
            }
        });
    });
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ obj.categoria }} {{ obj.marca }} {{ obj.modelo }}</div>
                        <form id="EditFormCat" action="/admin/editar/articulo/{{ obj.id }}" method="post" class="form-vertical">
                            {% csrf_token %}
                            {% for f in Form %}
                                <br>
                                <div class="control-group">
                                    <label class="control-label">{{ f.label }}</label>
                                    <div class="controls">
                                        {{ f }}
                                    </div>
                                </div>
                            {% endfor %}
                                <br>
                            <button class='btn btn-info' type="submit">Ingresar</button>
                        </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Caracteristicas</div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th><span style="color: #C0C0C0;">Titulo</span></th>
                                    <th><span style="color: #C0C0C0;">Descripcion</span></th>
                                    <th><span style="color: #C0C0C0;">Acciones</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for a in caracteristicas %}
                                    <tr>
                                            <td><a class="editObj" objId="{{ a.id }}">{{ a.titulo }}</a></td>
                                            <td><a class="editObj" objId="{{ a.id }}">{{ a.descripcion }}</a></td>

                                        <td>
                                            <a href="/admin/eliminar/caracteristica/{{ a.id }}">Eliminar</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <button class='btn btn-info' id="nuevaCaracteristica">Nueva caracteristica</button>
                </div>
            </div>
        </div>
        <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <button class='btn btn-info' id="nuevaImgart">Nueva Imagen</button> Imagenes
                    </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th><span style="color: #C0C0C0;">Imagen</span></th>
                                    <th><span style="color: #C0C0C0;">Acciones</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for a in imagenes %}
                                    <tr>
                                            <td><img class="artImg" src="{{ STATIC_URL }}media/{{ a.imagen }}"></td>

                                        <td>
                                            <a href="/admin/eliminar/artImg/{{ a.id }}">Eliminar</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                </div>
        </div>
    </div>
    <div class="modal fade" id="modalCaracteristica" tabindex="-1" role="dialog"
         aria-labelledby="modalCaracteristica" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>Nueva Caracteristica</h3>
                </div>
                <form action="/admin/nueva_caracteristica/" method="post" class="form-vertical">
                    <input type="hidden" value="{{ obj.id }}" name="articuloId">
                    <div class="modal-body">
                            {% csrf_token %}
                            {% for c in carForm %}
                            <br>
                            <div class="control-group">
                                <label class="control-label">{{ c.label }}</label>
                                <div class="controls">
                                    {{ c }}
                                </div>
                            </div>
                            {% endfor %}
                            <br>
                    </div>
                    <div class="modal-footer">
                        <button class='btn btn-info' type="submit">Ingresar</button>
                        <button class="btn" data-dismiss="modal" aria-hidden="true" type="button" href="#">
                            Cancelar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalImgart" tabindex="-1" role="dialog"
         aria-labelledby="modalImgart" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>Nueva Imagen</h3>
                </div>
                <form action="/admin/nueva_imgart/" method="post" class="form-vertical" enctype="multipart/form-data">
                    <input type="hidden" value="{{ obj.id }}" name="articuloId">
                    <div class="modal-body">
                            {% csrf_token %}
                            {% for c in artImgForm %}
                            <br>
                            <div class="control-group">
                                <label class="control-label">{{ c.label }}</label>
                                <div class="controls">
                                    {{ c }}
                                </div>
                            </div>
                            {% endfor %}
                            <br>
                    </div>
                    <div class="modal-footer">
                        <button class='btn btn-info' type="submit">Ingresar</button>
                        <button class="btn" data-dismiss="modal" aria-hidden="true" type="button" href="#">
                            Cancelar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalEditObj" tabindex="-1" role="dialog"
         aria-labelledby="modalEditObj" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>Editar Categoria</h3>
                </div>
                <form id="editForm" action="/admin/editar/caracteristica/" method="post" class="form-vertical">
                    <div class="modal-body">
                        {% csrf_token %}
                        <div id="editFormHtml"></div>
                    </div>
                    <div class="modal-footer">
                        <button class='btn btn-info' type="submit">Ingresar</button>
                        <button class="btn" data-dismiss="modal" aria-hidden="true" type="button" href="#">
                            Cancelar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}