{% extends 'base.html' %}
{% block js %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Datos de la Venta</div>
                        <div class="panel-body">
                            <form class="form-horizontal" id="EditFormCat" action="/editar/Venta/{{ obj.id }}"
                                  method="post" role="form" >
                                {% csrf_token %}
                                {% for f in Form %}
                                  <div class="form-group">
                                    <label for="{{ f.id }}" class="col-sm-3 control-label">{{ f.label }}</label>
                                    <div class="col-sm-9">
                                      {{ f }}
                                    </div>
                                  </div>
                                {% endfor %}
                                <button class='btn btn-info' type="submit">Ingresar</button>
                                <a href="#" class="btn btn-primary editObj" objId="0" Type="Cliente">Nuevo Cliente</a>
                                <a href="/Facturar/{{ obj.id }}" class="btn-danger btn btn-lg pull-right"
                            onclick="return confirm('¿Estas seguro de Facturar esta Transaccion?')" >Facturar</a>
                            </form>
                        </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title pull-left" style="padding-top: 7.5px">Articulos</h4>
                        <button href="#" class="pull-right btn btn-primary btn-sm editObj" objId="0" Type="LineaVenta">
                            Nueva Linea de Venta
                        </button>
                    </div>
                        <div class="panel-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th><span style="color: #C0C0C0;">Titulo</span></th>
                                        <th><span style="color: #C0C0C0;">Cantidad</span></th>
                                        <th><span style="color: #C0C0C0;">Acciones</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for a in arts %}
                                        <tr>
                                                <td>
                                                    <a class="editObj" objId="{{ a.id }}" Type="LineaVenta">
                                                        {{ a.articulo.categoria.titulo }}
                                                        {{ a.articulo.marca.titulo }}
                                                        {{ a.articulo.modelo }}
                                                    </a>
                                                </td>
                                                <td><a class="editObj" objId="{{ a.id }}" Type="LineaVenta">
                                                    {{ a.cantidad }}
                                                </a></td>

                                            <td>
                                                <a href="/eliminar/LineaVenta/{{ a.id }}" class="btn-danger btn-sm"
                                            onclick="return confirm('¿Esta Seguro de eliminar este elemento?')" >Eliminar</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}