<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title></title>
<style type="text/css">
<!--
    @page {
        size: letter portrait;
        @frame content_frame {
            left: 50pt;
            width: 512pt;
            top: 50pt;
            height: 692pt;
            /*-pdf-frame-border: 1;     for debugging the layout */
        }
    }
-->
</style>
<style type="text/css">
<!--
body{
    font-size: 12px;
}

.articulo{
    padding-top: 3px;
    padding-right: 3px;
    padding-left: 3px;
    height: 300px;
    empty-cells: hide;
}

table { empty-cells: hide;}
-->
</style>
</head>

<body>
<br>
<br>
<br>
<br>
<table class="header">
    <tr>
        <td width="600"></td>
        <td width="90"></td>
        <td width="80"></td>
    </tr>
    <tr>
        <td></td>
        <td>Fecha:</td>
        <td>{{ Fecha }}</td>
    </tr>
    <tr>
        <td></td>
        <td>Factura N:</td>
        <td>{{ FacturaN }}</td>
    </tr>
</table>
<br>
<br>
<table class="header">
    <tr>
        <td width="1"></td>
        <td width="270"></td>
    </tr>
    <tr>
        <td></td>
        <td><strong>Facturar a:</strong></td>
    </tr>
    <tr>
        <td></td>
        <td><strong>{{ FacturarA }}</strong></td>
    </tr>
    <tr>
        <td></td>
        <td><span>{{ Identificacion }}</span></td>
    </tr>
    <tr>
        <td></td>
        <td><span>{{ Direccion }}</span></td>
    </tr>
</table>
<br>
<br>
<table class="articulo" border="1">
    <tr>
        <td class="articulo" align="right" width="60">
            <strong>
                <span>Cant.</span>
            </strong>
        </td>
        <td width="300">
            <strong>Descripci&oacute;n</strong>
        </td>
        <td align="right" width="100">
            <strong>Precio unitario</strong>
        </td>
        <td align="right" width="100">
            <strong>Total</strong>
        </td>
    </tr>
    <tr>
        <td class="height" align="right">
            {% for a in articulos %}
                {{ a.cantidad }}
                <br>
            {% endfor %}
            {% for i in rest %}
                <br>
            {% endfor %}
        </td>
        <td>
            {% for a in articulos %}
                {{ a.nombre }}
                <br>
            {% endfor %}
            {% for i in rest %}
                <br>
            {% endfor %}
        </td>
        <td align="right">
            {% for a in articulos %}
                Bs. F.{{ a.precio }}
                <br>
            {% endfor %}
            {% for i in rest %}
                <br>
            {% endfor %}
        </td>
        <td align="right">
            {% for a in articulos %}
                Bs. F.{{ a.precioTotal }}
                <br>
            {% endfor %}
            {% for i in rest %}
                <br>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td align="right">
            Subtotal
            <br>
            IVA
            <br>
            Saldo a pagar
        </td>
        <td align="right">
            Bs. F.{{ subtotal }}
            <br>
            Bs. F.{{ IVA }}
            <br>
            Bs. F.{{ total }}
        </td>
    </tr>
</table>
</body>
</html>