{% extends 'base.html' %}
{% block content %}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Marcas</h3>
    </div>
    <div class="panel-body">
        <div class=" col-md-12">
            <div class="moneda no-gutter">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <a href="#" class="editObj" objId="{{ m.id }}" Type="Marca">
                                <div class="col-md-11">
                                    Titulo
                                </div>
                                <div class="col-md-1">
                                    Eliminar
                                </div>
                            </a>
                        </div>
                    </li>
                    {% for m in marcas %}
                        <li class="list-group-item">
                            <div class="row">
                                <a href="#" class="editObj" objId="{{ m.id }}" Type="Marca">
                                    <div class="col-md-11">
                                        {{ m.titulo}}
                                    </div>
                                    <div class="col-md-1">
                                        <a href="/eliminar/Marca/{{ m.id }}" class="btn-danger btn-sm"
                                        onclick="return confirm('¿Esta Seguro de eliminar este elemento?')" >X</a>
                                    </div>
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}