{% extends 'base.html' %}
{% block content %}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Monedas</h3>
    </div>
    <div class="panel-body">
        <div class=" col-md-12">
            <div class="moneda no-gutter">
                <ul class="list-group">
                    {% for m in monedas %}
                        <li class="list-group-item">
                            <div class="row">
                                <a href="#" class="editObj" objId="{{ m.id }}" Type="Moneda">
                                    <div class="col-md-4">
                                        {{ m.divisa}}
                                    </div>
                                    <div class="col-md-4">
                                        {{ m.get_medio_display}}
                                    </div>
                                    <div class="col-md-2">
                                        {{ m.costo_promedio}}
                                    </div>
                                    <div class="col-md-1">
                                        <a href="/eliminar/Moneda/{{ m.id }}" class="btn-danger btn-sm"
                                        onclick="return confirm('¿Esta Seguro de eliminar este elemento?')" >Eliminar</a>
                                    </div>
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}