{% extends 'base.html' %}
{% block content %}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Pedidos</h3>
    </div>
    <div class="panel-body">
        <div class=" col-md-12">
            <div class="moneda no-gutter">
                <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-1">
                                    Pagado
                                </div>
                                <div class="col-md-1">
                                    CostoT,
                                </div>
                                <div class="col-md-2">
                                    Fecha de Compra
                                </div>
                                <div class="col-md-2">
                                    Fecha Est. Recep.
                                </div>
                                <div class="col-md-2">
                                    Fecha de Recepcion
                                </div>
                                <div class="col-md-1">
                                    Peso
                                </div>
                                <div class="col-md-1">
                                    Costo Est
                                </div>
                                <div class="col-md-1">
                                    CostoReal
                                </div>
                                <div class="col-md-1">
                                    Eliminar
                                </div>
                            </div>
                        </li>
                    {% for m in pedidos %}
                        <li class="list-group-item">
                            <div class="row">
                                <a href="/EditarPedido/{{ m.id }}" Type="Pedido">
                                    <div class="col-md-1">
                                        {% if m.pagado %}
                                            Si
                                        {% else %}
                                            No
                                        {% endif %}
                                    </div>
                                    <div class="col-md-1">
                                        {{ m.costoTotal}}
                                    </div>
                                    <div class="col-md-2">
                                        {{ m.fechaCompra}}
                                    </div>
                                    <div class="col-md-2">
                                        {{ m.fechaEsRecepcion}}
                                    </div>
                                    <div class="col-md-2">
                                        {{ m.fechaRecepcion}}
                                    </div>
                                    <div class="col-md-1">
                                        {{ m.pesoTotal}}
                                    </div>
                                    <div class="col-md-1">
                                        {{ m.costoEstimado}}
                                    </div>
                                    <div class="col-md-1">
                                        {{ m.costoReal}}
                                    </div>
                                    <div class="col-md-1">
                                        <a href="/eliminar/Pedido/{{ m.id }}" class="btn-danger btn-sm"
                                        onclick="return confirm('¿Esta Seguro de eliminar este elemento?')" >X</a>
                                    </div>
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}