{% extends 'base.html' %}
{% block content %}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Transacciones</h3>
    </div>
    <div class="panel-body">
        <div class=" col-md-12">
            <div class="transacciones">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-7">
                                Motivo
                            </div>
                            <div class="col-md-1">
                                Tipo
                            </div>
                            <div class="col-md-1">
                                Monto
                            </div>
                            <div class="col-md-2">
                                Divisa
                            </div>
                            <div class="col-md-1">
                                Eliminar
                            </div>
                        </div>
                    </li>
                    {% for m in transacciones %}
                        <li class="list-group-item">
                            <div class="row">
                                <a href="/EditarTransaccion/{{ m.id }}">
                                    <div class="col-md-7">
                                        {{ m.descripcion}}
                                    </div>
                                    <div class="col-md-1">
                                        {{ m.get_tipo_display}}
                                    </div>
                                    <div class="col-md-1">
                                        {{ m.monto}}
                                    </div>
                                    <div class="col-md-2">
                                        {{ m.get_divisa_display }}
                                    </div>
                                    <div class="col-md-1">
                                        <a href="/eliminar/Transaccion/{{ m.id }}" class="btn-danger btn-sm"
                                        onclick="return confirm('¿Esta Seguro de eliminar este elemento?')" >X</a>
                                    </div>
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}