<form id="editForm" action="/editar/{{ titulo }}/{% if obj.id %}{{ obj.id }}{% else %}{{ 0 }}{% endif %}"
      method="post" class="form-horizontal">
    <div class="modal-body">
        {% csrf_token %}
        <div class="col-md-6">
            {% for f in Form1 %}
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ f.label }}</label>
                    <div class="col-sm-9">
                        {{ f }}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-6">
            {% for f in Form2 %}
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ f.label }}</label>
                    <div class="col-sm-9">
                        {{ f }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="modal-footer">
        <button class='btn btn-info' type="submit">Ingresar</button>
        {% if titulo == "Transaccion" %}
            <a href="/Factura/{{ obj.id }}" class="btn btn-primary">Factura</a>
        {% endif %}
        <button class="btn" data-dismiss="modal" aria-hidden="true" type="button" href="#">
            Cancelar
        </button>
    </div>
</form>
