<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Jagusoft | {% block tittle %}{% endblock %}</title>
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Signika:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/jquery-ui.min.css">
    <link rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/library.css">
    {% block css %}{% endblock %}

    <script type="text/javascript" src="{{ STATIC_URL }}js/less.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
	<script type="text/javascript">
        $(document).ready(function(){
            {% block js %}{% endblock %}
            {% if msg %}
                $("#modalMsg").modal({show:true});
            {% endif %}
            $("#nueva_moneda").on('click',function(){
                $("#modalMoneda").modal({show:true});
            });
            $("#nueva_transaccion").on('click',function(){
                $("#modalTransaccion").modal({show:true});
            });
            $(".editObj").on('click',function(e){
                e.preventDefault();
                var objId = this.getAttribute('objId');
                var Type = this.getAttribute('Type');
                jQuery.ajax({
                    url: '/get_form/' + Type + '/' + objId,
                    type: "GET",
                    dataType: 'html',
                    success: function(data){
                        $("#editFormHtml").html(data);
                        $("#modalEditObj").modal({show:true});
                        $(".datepicker").datepicker();
                    }
                });
            });
            $(".modal-wide").on("show.bs.modal", function() {
              var height = $(window).height() - 250;
              $(this).find(".modal-body").css("max-height", height);
            });
            $(".datepicker").datepicker();
        });
        var enforceModalFocusFn = $.fn.modal.Constructor.prototype.enforceFocus;
        $.fn.modal.Constructor.prototype.enforceFocus = function() {};
	</script>
</head>
<body>
<div class="container">
    {% if usuario %}
        <div class="row">
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                          data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/">Jagu</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <li><a href="/NuevaVenta" class="" objId="0" Type="Venta">Venta</a></li>
                    <li><a href="/NuevaCompra" class="" objId="0" Type="Venta">Compra</a></li>
                    <li><a href="/NuevoPedido" class="" objId="0" Type="Venta">Pedido</a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                          Nuevo <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#" class="editObj" objId="0" Type="Transaccion">Nueva Transaccion</a></li>
                        <li><a href="#" class="editObj" objId="0" Type="Categoria">Nueva Categoria</a></li>
                        <li><a href="#" class="editObj" objId="0" Type="Marca">Nueva Marca</a></li>
                        <li><a href="#" class="editObj" objId="0" Type="Articulo">Nueva Articulo</a></li>
                        <li><a href="#" class="editObj" objId="0" Type="Cliente">Nuevo Cliente</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                          Admin <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="/Transacciones">Transacciones</a></li>
                        <li><a href="/Categorias">Categorias</a></li>
                        <li><a href="/Marcas">Marcas</a></li>
                        <li><a href="/Articulos">Articulos</a></li>
                        <li><a href="/Pedidos">Pedidos</a></li>
                        <li><a href="/Clientes">Clientes</a></li>
                      </ul>
                    </li>
                  </ul>
                  <form action="/Clientes" method="get" class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                      <input type="text" name="query" class="form-control" placeholder="Clientes">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                  </form>
                  <form action="/Articulos" method="get" class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                      <input type="text" name="query" class="form-control" placeholder="Articulos">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                  </form>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>
        </div>
    {% endif %}
    <div class="row">
        {% block content %}{% endblock %}
    </div>
</div>
<div class="modal fade" id="modalMsg" tabindex="-1" role="dialog" aria-labelledby="modalMsg" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Mensaje del sistema</h3>
            </div>
            <div class="modal-body">
                    {{ msg }}
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true" type="button" href="#">
                    Aceptar
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-wide fade" id="modalEditObj" tabindex="-1" role="dialog"
     aria-labelledby="modalEditObj" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Ingreso de datos</h3>
            </div>
            <div id="editFormHtml"></div>
        </div>
    </div>
</div>
</body>
</html>