{% extends 'base.html' %}
{% block js %}
    $('#articulos_activos').on('click',function(){
        $(".active").removeClass("active");
        $( this ).parent().addClass("active");
        $('.rowItem').each(function(){
            var quantity = $( this ).attr("quantity")
            if(quantity > 0){
                $( this ).show(500);
            }else{
                $( this ).hide(500);
            }
        });
    });
    $('#articulos_todos').on('click',function(){
        $(".active").removeClass("active");
        $( this ).parent().addClass("active");
        $('.rowItem').each(function(){
            $( this ).show( 500 );
        });
    });
{% endblock %}
{% block content %}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Datos del capital</h3>
    </div>
    <div class="panel-body">
        <div class=" col-md-12">
            <div class="col-md-6 divider-vertical">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                                <div class="col-md-3">
                                    Ganancias Mes
                                </div>
                                <div class="col-md-3">
                                    {{ TT }}
                                </div>
                                <div class="col-md-3">
                                    Ganancias DE
                                </div>
                                <div class="col-md-3">
                                    <strong>{{ DE }}</strong>
                                </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                                <div class="col-md-3">
                                    Simadi
                                </div>
                                <div class="col-md-3">
                                    <strong>{{ simadi }}</strong>
                                </div>
                                <div class="col-md-3">
                                    Dolar Negro
                                </div>
                                <div class="col-md-3">
                                    <strong>{{ negro }}</strong>
                                </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                                <div class="col-md-3">
                                    Capital total
                                </div>
                                <div class="col-md-9">
                                    <strong>{{ Capital_total }}</strong>
                                </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-4">
                                Divisa
                            </div>
                            <div class="col-md-4">
                                Cantidad
                            </div>
                            <div class="col-md-4">
                                Costo Promedio
                            </div>
                        </div>
                    </li>
                    {% for a in Caps %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4">
                                    {{ a.get_divisa_display  }}
                                </div>
                                <div class="col-md-4">
                                    <strong>{{ a.cantidad }}</strong>
                                </div>
                                <div class="col-md-4">
                                    {{ a.costo_promedio }}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
    <div class="no-gutter">

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Pedidos</h3>
    </div>
    <div class="panel-body">
        <div class=" col-md-12">
            <div class="moneda no-gutter">
                <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-1">
                                    Pagado
                                </div>
                                <div class="col-md-1">
                                    CostoT,
                                </div>
                                <div class="col-md-2">
                                    Fecha de Compra
                                </div>
                                <div class="col-md-2">
                                    Fecha Est. Recep.
                                </div>
                                <div class="col-md-2">
                                    Fecha de Recepcion
                                </div>
                                <div class="col-md-1">
                                    Peso
                                </div>
                                <div class="col-md-1">
                                    Costo Est
                                </div>
                                <div class="col-md-2">
                                    CostoReal
                                </div>
                            </div>
                        </li>
                    {% for m in pedidos %}
                        <li class="list-group-item">
                            <div class="row">
                                <a href="/EditarPedido/{{ m.id }}" Type="Pedido">
                                    <div class="col-md-1">
                                        {% if m.pagado %}
                                            Si
                                        {% else %}
                                            No
                                        {% endif %}
                                    </div>
                                    <div class="col-md-1">
                                        {{ m.costoTotal}}
                                    </div>
                                    <div class="col-md-2">
                                        {{ m.fechaCompra}}
                                    </div>
                                    <div class="col-md-2">
                                        {{ m.fechaEsRecepcion}}
                                    </div>
                                    <div class="col-md-2">
                                        {{ m.fechaRecepcion}}
                                    </div>
                                    <div class="col-md-1">
                                        {{ m.pesoTotal}}
                                    </div>
                                    <div class="col-md-1">
                                        {{ m.costoEstimado}}
                                    </div>
                                    <div class="col-md-2">
                                        {{ m.costoReal}}
                                    </div>
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Transacciones</h3>
    </div>
    <div class="panel-body">
        <div class=" col-md-12">
            <div class="transacciones">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-7">
                                Motivo
                            </div>
                            <div class="col-md-1">
                                Tipo
                            </div>
                            <div class="col-md-2">
                                Monto
                            </div>
                            <div class="col-md-2">
                                Divisa
                            </div>
                        </div>
                    </li>
                    {% for m in transacciones %}
                        <li class="list-group-item">
                            <div class="row">
                                <a href="/EditarTransaccion/{{ m.id }}">
                                    <div class="col-md-7">
                                        {{ m.descripcion}}
                                    </div>
                                    <div class="col-md-1">
                                        {{ m.get_tipo_display}}
                                    </div>
                                    <div class="col-md-2">
                                        {{ m.monto}}
                                    </div>
                                    <div class="col-md-2">
                                        {{ m.get_divisa_display }}
                                    </div>
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
    </div>
{% endblock %}