{% extends 'base.html' %}
{% block content %}
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Login</h3>
            </div>
            <div class="panel-body">
                <div class=" col-md-12">
                    <div class="title">
                        Inicio de sesión
                    </div>
                    <form action="/login/" method="post" class="form-vertical">
                            {% csrf_token %}
                            {% for c in loginForm %}
                            <br>
                            <div class="control-group">
                                <div class="controls">
                                    {{ c }}
                                </div>
                            </div>
                            {% endfor %}
                            <br>
                        <div class="buttons">

                            <button class='btn btn-info' type="submit">Ingresar</button>
                            <button class="btn"  type="button" href="#">Cancelar</button>
                            <a class="btn btn-warning" href="/registro">Registrar</a>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}