{% extends 'base.html' %}
{% block title %}Registro {% endblock %}
{% block extrajs %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/varios.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/nod.js"></script>
{% endblock %}
{% block js %}
    $("#chkNotif").hide();
    $("#id_tipo").change(function(e){
        e.preventDefault();
        if ($(this).val() == 'AB'){
            $("#chkNotif").show();
        }else{
            $("#chkNotif").hide();
        }
    });
    $('#id_fecha_nacimiento').datepicker({
        format: 'dd/mm/yyyy',
        language:'es'
    });
    $("#id_tipo").select2();
    $("#id_nombre").keypress(function(event) {
        return restringeCaracteres(this, event, {expreg:/([A-Z,a-z,\s])/});
    });
    $("#id_apellido").keypress(function(event) {
        return restringeCaracteres(this, event, {expreg:/([A-Z,a-z,\s])/});
    });
    $("#id_nickname").keypress(function(event) {
        return restringeCaracteres(this, event, {expreg:/([A-Z,a-z,0-9,\-,_])/});
    });

    var r_metrics = [
          [ '#id_nickname', 'presence', 'Indique su nombre de usuario' ],
          [ '#id_nombre', 'presence', 'Indique su nombre' ],
          [ '#id_apellido', 'presence', 'Indique su apellido' ],
          [ '#id_password', 'presence', 'Indique su contraseña' ],
          [ '#id_cpassword', 'presence', 'Repita la contraseña' ],
          [ '#id_email','presence', 'Indique su correo' ],
          [ '#id_email','email','Ingrese un correo válido' ],
          [ '#id_tipo','presence','Debe seleccionar el tipo de usuario' ],

    ];
    $('#registrar-form').nod(r_metrics);
    $('#guardar').on('click',function(){
        $('#registrar-form input[type=text]').each(function(n,element){
            if ($(element).val()=='') {
                alert('introduzca '+element.name+'');
                return false;
            }
        });
        return true;
    });

{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            {% if user.is_authenticated %}
                <p><h4>Superadmin</h4></p>
            {% endif %}
            <p><h4>Nuevo Usuario</h4></p>
            <form action="/registro/" method="post" class="form-vertical" id="registrar-form">
                <ul class="messages">
                {% for field in registrationForm.non_field_errors %}
                     <li>{{ field }}</li>
                {% endfor %}
                </ul>

                {% csrf_token %}
                {% for r in registrationForm %}
                <div class="form-group">
                    <label class="control-label">{{ r.label }}</label>
                    <div class="controls">
                        {{ r }}
                    </div>
                </div>
                {% endfor %}
                <div class="form-group" id="chkNotif">
                <input name="notif" value="1" type="checkbox"> ¿Desea recibir notificaciones? <br>
                    <input name="gestoria" value="1" type="checkbox"> ¿Desea salir en el listado de gestoría?
                </div>
                <button class="btn btn-info" type="submit" id="guardar">Guardar</button>
            </form>
        </div>
    </div>
</div>
    
{% endblock %}